<nav class="navbar fixed-top navbar-expand-lg" style="background-color: lightskyblue">
  <div class="container">
    <a class="navbar-brand" href="/">توئیتر</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="/logout" id="logout">خروج</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/login" id="login">ورود</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup" id="signup">ثبت نام</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

{% block master_content %}{% endblock %}



