{% extends "master.html" %}

{% load static %}

{% block content %}
    <div title="container">
        <div style="display: flex; flex-direction: row; justify-content: center; width: 40%; margin-bottom: 30px;">
            <img src="{{ pic }}" style="border-radius: 50%">
            <form enctype="multipart/form-data" action="upload_avatar/" method="post">
                {% csrf_token %}
                <div class="custom-file">
                    <input type="file" class="custom-file-input" name="avatar_file" id="customFile">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
                <button type="submit">آپلود تصویر</button>
            </form>
        </div>

        <div title="tweet here" id="tweet-box" class="card" style="width: 40%;">
            <form action="tweet/" method="post" id="avatar" style="display:flex; flex-direction: column">
                {% csrf_token %}
                <input type="text" name="tweet_title" id="tweet_title" placeholder="Title" dir="ltr">
                <textarea dir="ltr" name="tweet" id="tweet" placeholder="Tweet here!" onkeyup="resizeTextarea('tweet')"> </textarea>
                <button class="btn btn-info" type="submit">Tweet</button>
            </form>
        </div>

    </div>

    {% for tweet in tweets %}
        <div class="card" style="margin: 10px; padding: 10px; width: 50%">{{ tweet.title }}<hr>{{ tweet.body }}</div>
    {% endfor %}

    <script>
        function resizeTextarea(id) {
            var a = document.getElementById(id);
            a.style.height = 'auto';
            a.style.height = a.scrollHeight + 'px';
        }

        function init() {
            var a = document.getElementById('tweet');
            for (var i = 0, inb = a.length; i < inb; i++) {
                if (a[i].getAttribute('data-resizable') == 'true')
                    resizeTextarea(a[i].id);
            }
        }

        addEventListener('DOMContentLoaded', init);
    </script>
{% endblock %}
